.welcomeSlide{
  .backgroundImage{
    background-image: url(../../src/images/welcomeSlide.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100vh;
    width: 100%;
  }
}
