@import 'smart-grid.less';
.reset();

.wrapper {
  .wrapper();
}

body{
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f5f5f5;
  font-family: Raleway, sans-serif;
  font-size: 16px;
  color: #555;
}
h2{
font-size: 30px;
}

h3{
font-size: 20px;
}

h4{
font-size: 18px;
}

p{
font-size: 16px;
}
@import "header.less";
@import "main.less";
@import "footer.less";
